*.class
/Source/FiscalPrinterService/build
/Source/FiscalPrinterService.RXTXcomm/build
/Source/FiscalPrinterTest/build
/Source/FiscalPrinterService/dist/
/Source/FiscalPrinterService.RXTXcomm/dist/
/Source/FiscalPrinterService/nbproject/private/
/Source/FiscalPrinterTest/nbproject/private/
/Source/FiscalPrinterTest/dist/
/dist
/bin
/Source/build
/Source/dist
.gradle
/Source/out
/Source/FiscalPrinterService/out
/Source/FiscalPrinterService.RXTXcomm/out
/Source/FiscalPrinterTest/out
.idea
*.iml
*.ipr
*.iws
*.iml
/Source/android/build
/Source/android/dist
/Source/android/local.properties
/Source/android/FptrServiceAndroid/build
/Source/android/tinyJavaPosTester/build
/Source/android/FptrServiceAndroid/dist
/Source/android/tinyJavaPosTester/dist
/Source/android/FptrServiceAndroid/dist
/Source/android/tinyJavaPosTester/dist
/Source/android/FptrServiceAndroid/src/com/shtrih/util/ServiceVersion.java

/Source/QRTest/dist/
/Source/TestShtrih/build/
/Source/TestShtrih/dist/
/Source/TestShtrih/nbproject/private/
/Source/QRTest2/build/
/Source/QRTest2/dist/
/Source/QRTest2/nbproject/private/
/Source/qrtest/nbproject/private/
/Source/qrtest/build/
/Source/qrtest/dist/
/Source/kktnetd/nbproject/private/
/Source/kktnetd/build/
/Source/kktnetd/dist/
/Source/kktnetdtest/nbproject/private/
/Source/kktnetdtest/build/