*.class
/Source/FiscalPrinterService/build
/Source/FiscalPrinterService.RXTXcomm/build
/Source/FiscalPrinterTest/build
/Source/FiscalPrinterService/dist/
/Source/FiscalPrinterService.RXTXcomm/dist/
/Source/FiscalPrinterService/nbproject/private/
/Source/FiscalPrinterTest/dist/
/jpos_1013322/src/FiscalPrinterService/nbproject/private/
/jpos_1013322/src/FiscalPrinterTest/nbproject/private/
/jpos_1013323/src/FiscalPrinterService/nbproject/private/
/jpos_1013323/src/FiscalPrinterTest/nbproject/private/
/dist
/bin
/Source/build
/Source/dist
.gradle
/Source/out
.idea
*.iml
*.ipr
*.iws
*.iml
/Source/android/build
/Source/android/dist
/Source/android/local.properties
/Source/android/FptrServiceAndroid/build
/Source/android/tinyJavaPosTester/build
/Source/android/FptrServiceAndroid/dist
/Source/android/tinyJavaPosTester/dist
/Source/android/FptrServiceAndroid/dist
/Source/android/tinyJavaPosTester/dist