<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE JposEntries PUBLIC "-//JavaPOS//DTD//EN"
                             "jpos/res/jcl.dtd">
<JposEntries>
	<!--Saved by JavaPOS jpos.config/loader (JCL) version 2.2.0 on 16.02.15 20:47-->

	<JposEntry logicalName="Scale.1">
		<creation factoryClass="com.ncr.retail.jpos.NCRJposServiceInstanceFactory" serviceClass="com.ncr.retail.jpos.services.scale.ScaleService"/>
		<vendor name="NCR" url="http://www.ncr.com"/>
		<jpos category="Scale" version="1.7"/>
		<product description="Scale" name="Scale" url="http://www.ncr.com"/>

		<!--Other non JavaPOS required property (mostly vendor properties and bus specific properties i.e. RS232 )-->
		<prop name="sModelClassName" type="String" value="NCR78xxScannerScale"/>
		<prop name="Version" type="String" value="1.10.0"/>
		<prop name="Model.Model" type="String" value="NCR7874"/>
		<prop name="ModelDescription" type="String" value="NCR78xx Scale"/>
		<prop name="Model.Uses" type="String" value="Scanner.1"/>
		<prop name="Model.MonitorEnable" type="String" value="0"/>
		<prop name="ConnectionType" type="String" value="S"/>
		<prop name="ModelVersion" type="String" value="3.9.8.2"/>
		<prop name="Description" type="String" value="NCR JavaPOS Scale Device Service"/>
	</JposEntry>


	<JposEntry logicalName="MSR.1">
		<creation factoryClass="com.ncr.retail.jpos.NCRJposServiceInstanceFactory" serviceClass="com.ncr.retail.jpos.services.msr.MSRService"/>
		<vendor name="NCR" url="http://www.ncr.com"/>
		<jpos category="MSR" version="1.7"/>
		<product description="MSR" name="MSR" url="http://www.ncr.com"/>

		<!--Other non JavaPOS required property (mostly vendor properties and bus specific properties i.e. RS232 )-->
		<prop name="sModelClassName" type="String" value="NCRIOChannelMSRModel"/>
		<prop name="Version" type="String" value="1.10.0"/>
		<prop name="Type" type="String" value="ISO"/>
		<prop name="IO.DeviceType" type="String" value="MSR"/>
		<prop name="ModelDescription" type="String" value="NCR I/O Channel MSR"/>
		<prop name="ConnectionType" type="String" value="W"/>
		<prop name="ModelVersion" type="String" value="3.9.2.0"/>
		<prop name="Description" type="String" value="NCR JavaPOS MSR Device Service"/>
	</JposEntry>


	<JposEntry logicalName="SHTRIH-MINI-FR-K">
		<creation factoryClass="com.shtrih.jpos.ShtrihJposServiceInstanceFactory" serviceClass="com.shtrih.jpos.fiscalprinter.ShtrihMiniFRKService"/>
		<vendor name="SHTRIH-M" url="http://www.shtrih-m.com"/>
		<jpos category="FiscalPrinter" version="1.9"/>
		<product description="Fiscal printer service" name="SHTRIH-MINI-FR-K" url="http://www.javapos.com"/>

		<!--Other non JavaPOS required property (mostly vendor properties and bus specific properties i.e. RS232 )-->
		<prop name="payType3" type="String" value="0"/>
		<prop name="payType18" type="String" value="1"/>
		<prop name="payType2" type="String" value="3"/>
		<prop name="payType17" type="String" value="1"/>
		<prop name="payType1" type="String" value="0"/>
		<prop name="payType16" type="String" value="1"/>
		<prop name="payType0" type="String" value="0"/>
		<prop name="payType15" type="String" value="1"/>
		<prop name="payType14" type="String" value="1"/>
		<prop name="payType13" type="String" value="1"/>
		<prop name="payType12" type="String" value="1"/>
		<prop name="payType11" type="String" value="1"/>
		<prop name="payType10" type="String" value="1"/>
		<prop name="quantityFactor" type="String" value="1"/>
		<prop name="portName" type="String" value="/dev/ttyS0"/>
		<prop name="sysAdminPassword" type="String" value="30"/>
		<prop name="taxPassword" type="String" value="0"/>
		<prop name="department" type="String" value="1"/>
		<prop name="byteTimeout" type="String" value="3000"/>
		<prop name="deviceByteTimeout" type="String" value="3000"/>
		<prop name="amountFactor" type="String" value="0.01"/>
		<prop name="fontNumber" type="String" value="1"/>
		<prop name="paymentName4" type="String" value="СКИДКА"/>
		<prop name="baudRate" type="String" value="19200"/>
		<prop name="paymentName3" type="String" value="ПОДАР.КАРТА"/>
		<prop name="paymentName2" type="String" value="КАРТА"/>
		<prop name="paymentName1" type="String" value="НАЛИЧНЫМИ"/>
		<prop name="searchByBaudRateEnabled" type="String" value="1"/>
		<prop name="searchByPortEnabled" type="String" value="0"/>
		<prop name="payType39" type="String" value="3"/>
		<prop name="payType38" type="String" value="3"/>
		<prop name="payType37" type="String" value="3"/>
		<prop name="payType36" type="String" value="3"/>
		<prop name="payType35" type="String" value="3"/>
		<prop name="payType34" type="String" value="3"/>
		<prop name="payType33" type="String" value="3"/>
		<prop name="XmlZReportEnabled" type="String" value="1"/>
		<prop name="payType32" type="String" value="3"/>
		<prop name="payType31" type="String" value="3"/>
		<prop name="payType30" type="String" value="3"/>
		<prop name="subtotalText" type="String" value="ПОДИТОГ:"/>
		<prop name="stringEncoding" type="String" value="cp866"/>
		<prop name="pollInterval" type="String" value="5000"/>
		<prop name="pollEnabled" type="String" value="1"/>
		<prop name="payType29" type="String" value="2"/>
		<prop name="payType28" type="String" value="2"/>
		<prop name="payType27" type="String" value="2"/>
		<prop name="payType26" type="String" value="2"/>
		<prop name="payType25" type="String" value="2"/>
		<prop name="payType24" type="String" value="2"/>
		<prop name="closeReceiptText" type="String" value=""/>
		<prop name="payType23" type="String" value="2"/>
		<prop name="payType22" type="String" value="2"/>
		<prop name="payType21" type="String" value="2"/>
		<prop name="payType20" type="String" value="2"/>
		<prop name="isPrintTrailerLines" type="String" value="1"/>
		<prop name="payType9" type="String" value="0"/>
		<prop name="payType8" type="String" value="1"/>
		<prop name="payType7" type="String" value="0"/>
		<prop name="operatorPassword" type="String" value="1"/>
		<prop name="payType6" type="String" value="0"/>
		<prop name="payType5" type="String" value="0"/>
		<prop name="payType19" type="String" value="1"/>
		<prop name="payType4" type="String" value="2"/>
		<prop name="logEnabled" type="String" value="1"/>
        <!-- Sales receipt type, 0 - normal, 1 - GLOBUS -->
        <prop name="salesReceiptType" type="String" value="1"/>
        <!-- logoPosition,  -->
        <!-- SMFPTR_LOGO_AFTER_HEADER     = 0  -->
        <!-- SMFPTR_LOGO_BEFORE_TRAILER   = 1  -->
        <!-- SMFPTR_LOGO_AFTER_TRAILER    = 2  -->
        <!-- SMFPTR_LOGO_AFTER_ADDTRAILER = 3  -->
        <!-- SMFPTR_LOGO_BEFORE_HEADER    = 4  -->
		<prop name="logoPosition" type="String" value="0"/>
        <!-- headerMode, 0 - header in driver, 1 - header in printer -->
		<prop name="headerMode" type="String" value="0"/>
        <!-- Monitoring enabled -->
        <prop name="MonitoringEnabled" type="String" value="0"/>
        <!-- ESC commands enabled -->
        <prop name="escCommandsEnabled" type="String" value="1"/>
        <!-- Cut type, 0 - full cut, 1 - partial cut -->
        <prop name="cutType" type="String" value="1"/>
        <!-- Status command:   -->
        <!-- 0 - command 10h, short status request  -->
        <!-- 1 - command 11h, long status request  -->
        <!-- 2 - status command selected by driver -->
        <prop name="statusCommand" type="String" value="2"/>
        <!-- Number of header lines -->
        <prop name="numHeaderLines" type="String" value="5"/>
        <!-- Number of trailer lines -->
        <prop name="numTrailerLines" type="String" value="0"/>
        <!-- Center header and trailer text automatically  -->
		<prop name="centerHeader" type="String" value="1"/>
        <!-- fieldsFilesPath to initialize printer tables -->
        <prop name="fieldsFilesPath" type="String" value="/usr/local/NCRRetail/jpos/res/tables/"/> 
        <!-- fieldsFileName to initialize printer tables -->
        <!--<prop name="fieldsFileName" type="String" value="usr/local/NCRRetail/jpos/res/tables/GLOBUS_NCR-001.csv"/> -->
	</JposEntry>


	<JposEntry logicalName="CashDrawer.1">
		<creation factoryClass="com.shtrih.jpos.ShtrihJposServiceInstanceFactory" serviceClass="com.shtrih.jpos.cashdrawer.CashDrawerImpl"/>
		<vendor name="SHTRIH-M" url="http://www.shtrih-m.com"/>
		<jpos category="CashDrawer" version="1.9"/>
		<product description="Cash drawer service" name="ShtrihCashDrawer" url="http://www.javapos.com"/>

        <!--Fiscal printer logical device name-->
        <prop name="fiscalPrinterDevice" type="String" value="SHTRIH-MINI-FR-K"/>
        <!-- capStatus property -->
        <prop name="capStatus" type="String" value="0"/>
        <!-- Cash drawer number property -->
        <prop name="drawerNumber" type="String" value="0"/>
        <!-- Statistics file name -->
        <prop name="statisticFileName" type="String" value="ShtrihCashDrawer.xml"/>
		
		
        <!--Other non JavaPOS required property (mostly vendor properties and bus specific properties i.e. RS232 )-->
        <!--Serial port name-->
        <prop name="portName" type="String" value="/dev/ttyS0"/>
        <!--Baudrate-->
        <prop name="baudRate" type="String" value="19200"/>
        <!-- Operator password -->
        <prop name="operatorPassword" type="String" value="1"/>
        <!-- System administrator password -->
        <prop name="sysAdminPassword" type="String" value="30"/>
        <!-- Driver byte receive timeout -->
        <prop name="byteTimeout" type="String" value="1000"/>
        <!-- Device byte receive timeout -->
        <prop name="deviceByteTimeout" type="String" value="1000"/>
        <!-- Device search enabled for all baud rates -->
        <prop name="searchByBaudRateEnabled" type="String" value="1"/>
        <!-- Log4j properties file name -->
        <prop name="log4jProperties" type="String" value="./log4j.properties"/>
        <!-- device state polling interval in milliseconds -->
        <prop name="pollInterval" type="String" value="500"/>
	</JposEntry>


	<JposEntry logicalName="KeyLock.1">
		<creation factoryClass="com.ncr.retail.jpos.NCRJposServiceInstanceFactory" serviceClass="com.ncr.retail.jpos.services.keylock.KeylockService"/>
		<vendor name="NCR" url="http://www.ncr.com"/>
		<jpos category="Keylock" version="1.7"/>
		<product description="Keylock" name="Keylock" url="http://www.ncr.com"/>

		<!--Other non JavaPOS required property (mostly vendor properties and bus specific properties i.e. RS232 )-->
		<prop name="Version" type="String" value="1.10.0"/>
		<prop name="Description" type="String" value="NCR JavaPOS Keylock Device Service"/>
		<prop name="ConnectionType" type="String" value="W"/>
		<prop name="IO.DeviceType" type="String" value="Keylock"/>
		<prop name="ModelDescription" type="String" value="NCR I/O Channel Keylock"/>
		<prop name="ModelVersion" type="String" value="3.9.0.1"/>
		<prop name="sModelClassName" type="String" value="NCRIOChannelKeylockModel"/>
	</JposEntry>


	<JposEntry logicalName="ToneIndicator.1">
		<creation factoryClass="com.ncr.retail.jpos.NCRJposServiceInstanceFactory" serviceClass="com.ncr.retail.jpos.services.toneindicator.ToneIndicatorService"/>
		<vendor name="NCR" url="http://www.ncr.com"/>
		<jpos category="ToneIndicator" version="1.7"/>
		<product description="ToneIndicator" name="ToneIndicator" url="http://www.ncr.com"/>

		<!--Other non JavaPOS required property (mostly vendor properties and bus specific properties i.e. RS232 )-->
		<prop name="Tone1Duration" type="String" value="500"/>
		<prop name="sModelClassName" type="String" value="NCRIOChannelToneIndicator"/>
		<prop name="InterToneWait" type="String" value="0"/>
		<prop name="Version" type="String" value="1.10.0"/>
		<prop name="IO.DeviceType" type="String" value="OutputOnly"/>
		<prop name="ModelDescription" type="String" value="NCR I/O Channel Tone Indicator"/>
		<prop name="Tone2Duration" type="String" value="0"/>
		<prop name="Tone1Pitch" type="String" value="800"/>
		<prop name="Tone2Volume" type="String" value="100"/>
		<prop name="Tone1Volume" type="String" value="100"/>
		<prop name="Tone2Pitch" type="String" value="0"/>
		<prop name="ConnectionType" type="String" value="W"/>
		<prop name="ModelVersion" type="String" value="3.9.0.0"/>
		<prop name="Description" type="String" value="NCR JavaPOS Tone Indicator Device Service"/>
	</JposEntry>

</JposEntries>
